
/* Import custom file here*/
@import url(./framework.css);
@import url(../vendor/bootstrap/css/bootstrap.min.css);

/* Creative agency Custom Font Link here */
@font-face {
    font-family: lora-500;
    src: url(../fonts/lora/Lora-Medium.ttf);
}
@font-face {
    font-family: inter-600;
    src: url(../fonts/inter/Inter-SemiBold.ttf);
}
@font-face {
    font-family: inter-500;
    src: url(../fonts/inter/Inter-Medium.ttf);
}
@font-face {
    font-family: inter-400;
    src: url(../fonts/inter/Inter-Regular.ttf);
}
@font-face {
    font-family: poppins-600;
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppins-400;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

/* Creative agency Global color CSS here */

:root {
    --body-bg-color : #0F1123;
    --white-color : #FFFFFF;
    --pink-color : #FF275B;
    --text-color : #AFAFAF;
    --orange-color : #FFB24B;
    --light-black : #8793B0;
    --container-bg-color : #272939;
}

/* Creative agency body bg color */

.body {
    background-color: var(--body-bg-color);
}

/* Creative agency highlighted text CSS here */

span {
    color: var(--pink-color);
}

/* Creative agency Global Button CSS here */

.white-bg-btn {
    background-color: var(--white-color);
    color: var(--body-bg-color);
    font-size: 18px;
    font-family: inter-400;
    line-height: 21.78px;
    padding: 14px 16px;
    gap: 8px;
    border-radius: 4px;
    border: none;
}
.pink-bg-btn {
    background-color: var(--pink-color);
    color: var(--white-color);
    font-size: 20px;
    font-family: inter-500;
    line-height: 24px;
    padding: 16px 20px;
    gap: 8px;
    border-radius: 4px;
    border: none;
}
.btn-with-arrow{
    background-color: transparent;
    color: var(--white-color);
    font-family: inter-500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 24px;
    border: none;
    margin-right: 10px;
}
.transparent-bg-btn {
    background-color: transparent;
    color: var(--white-color);
    font-size: 20px;
    font-family: inter-500;
    line-height: 24px;
    padding: 10px 12px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--white-color);
}
.transparent-bg-btn:hover {
    background-color: transparent;
    color: var(--pink-color);
    border: 1px solid var(--pink-color);
    transition: ease-in 0.5s;
    
}

.paragraph-18{
    color: var(--text-color);
    font-size: 18px;
    font-family: inter-400;
    line-height: 26px;
    margin-top: 16px;
}

/* Creative agency Custom Css start here */

/* ===============================
 Creative agency home Navbar 
 =================================*/


.theme-navbar .theme-navbar-list {
    gap: 40px;
}
.theme-navbar .theme-navbar-list .theme-navbar-item-list{
    font-size: 18px;
    font-family: inter-400;
    line-height: 21.78px;
}
.theme-navbar .theme-navbar-list .theme-navbar-item-list .nav-link {
    color: var(--text-color);
}
.theme-navbar .theme-navbar-list  #active{
    position: relative;
    color: var(--white-color);

}
.theme-navbar .theme-navbar-list #active::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 19px;
    bottom: 0;
    left: 8px;
    background-color: var(--pink-color);
}

/* ==============================
 Creative agency Home banner 
 ================================ */

.antcy-home-banner{
    position: relative;
}
.antcy-home-banner .antcy-banner-main-shape{
    position: absolute;
    top: -100px;
    right: -15px;
    z-index: 1;
    overflow: hidden;
}

.antcy-home-banner .antcy-banner-left-part .antcy-banner-left-heading{
    color: var(--white-color);
    font-size: 64px;
    font-family: lora-500;
    line-height: 81px;
    

}
.antcy-home-banner .antcy-banner-left-part .antcy-banner-left-btn {
    width: 410px;
}
.antcy-home-banner .antcy-banner-right-part {
    position: relative;
}
.antcy-home-banner .antcy-banner-right-part .antcy-banner-right-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -170px;
    left: 60px;

}

.antcy-home-banner .antcy-banner-right-part .antcy-banner-right-pattern {
  position: absolute;
  top: -223px;
  left: 3px;
  z-index: -1;
}
.antcy-home-banner .antcy-banner-right-part .antcy-banner-right-shape-one {
  position: absolute;
  top: -226px;
  right: -102px;
  z-index: -1;
}
.antcy-home-banner .antcy-banner-right-part .antcy-banner-right-shape-two {
  position: absolute;
  bottom: -234px;
  left: 18px;
}

/* ==============================
 Creative agency helping hend 
 ================================ */




 .helping-hand-section .helping-hand-left{
    position: relative;
 }
 .helping-hand-section .helping-hand-left .helping-hand-pattern {
  position: absolute;
  top: -60px;
  left: -66px;
  z-index: -1;
}
 .helping-hand-section .helping-hand-left .helping-hand-left-row .helping-hand-left-row-one{
    padding-right: 24px;
 }
 .helping-hand-section .helping-hand-left .helping-hand-left-row .helping-hand-left-row-two{
    padding-right: 24px;
 }
 
 .helping-hand-section .helping-hand-right .helping-hand-right-heading h2{
    color: var(--white-color);
    font-size: 48px;
    font-family: lora-500;
    line-height: 70px;
    width: 555px;
 }
 .helping-hand-section .helping-hand-right .helping-hand-right-paragraph{
    margin-bottom: 24px;
    width: 555px;
 }
 .helping-hand-section .helping-hand-right .helping-hand-feature .helping-hand-feature-icon-text .helping-hand-feature-icon{
    width: 26px;
    height: 26px;
 }
 .helping-hand-section .helping-hand-right .helping-hand-feature .helping-hand-feature-icon-text .helping-hand-feature-text p{
    color: var(--white-color);
    font-size: 18px;
    font-family: inter-400;
    line-height: 24px;
    padding-left: 10px;
   
 }



 /* ==============================
 Creative agency Service 
 ================================ */

 .antcy-service-section .antcy-service-heading h2 {
    width: 312px;
    color: var(--white-color);
    font-size: 48px;
    font-family: lora-500;
    line-height: 61px;

 }
 .antcy-service-section .antcy-service-slide-arrow{
    width: 96px;

 }
 
 .antcy-service-section .card-group .card{
    border: 1px solid #272939;
    border-radius: 4px;
    width: 300px;
    margin-right: 12px;
    margin-left: 12px;
    
 }
 .antcy-service-section .card-group .card .card-img-top {
    width: 60px;
    height: 60px;
    margin-left: 138px;

 }
 .antcy-service-section .card-group .card .card-body .card-heading {
    color: var(--white-color);
    font-size: 20px;
    font-family: poppins-600;
    line-height: 36px;
    margin-top: 16px;

 }
 .antcy-service-section .card-group .card .card-body .card-paragraph {
    width: 300px;
    color: var(--light-black);
    font-size: 18px;
    font-family: poppins-400;
    line-height: 27px;
    margin-top: 16px;

 }
 .antcy-service-section .antcy-service-card-dash {
    margin-top: 40px;
 }
 .antcy-service-section .antcy-service-card-dash .dash--1, .dash--3{
    width: 16px;
    height: 4px;
    background-color: #333444;
    margin-right: 5px;

 }
 .antcy-service-section .antcy-service-card-dash .dash--2{
    width: 24px;
    height: 4px;
    background-color: var(--pink-color);
    margin-right: 5px;

 }



 /* ==============================
 Creative agency project 
 ================================ */

 .antcy-project-section .antcy-project-heading h2 {
    color: var(--white-color);
    font-size: 48px;
    font-family: lora-500;
    line-height: 61px;
   padding-bottom: 48px;
}
.antcy-project-section .card-group .card {
  margin-right: 16px;
  margin-left: 12px;
}
 .antcy-project-section .card-group .card .antcy-project-card-img {
    width: 360px;
    height: 444px;
    position: relative;
   
}
 .antcy-project-section .card-group .card .card-body{
    width: 325px;
    height: 138px;
    position: absolute;
    background-color: var(--body-bg-color);
    bottom: 35px;
    left: 17px;
    border-radius: 4px;
    
}
 .antcy-project-section .card-group .card .card-body .antcy-project-card-title{
    color: var(--white-color);
    font-size: 24px;
    font-family: inter-600;
    line-height: 29px;
    
}
.antcy-project-section .card-group .card .card-body .antcy-project-card-btn{
  width: 138px;
  margin-top: 24px;
  padding-bottom: 16px;

  
}
 .antcy-project-section .card-group .card .card-body .antcy-project-card-btn a{
    color: var(--text-color);
    font-size: 18px;
    font-family: inter-500;
    line-height: 24px;
}



 /* ==============================
 Creative agency testimonia 
 ================================ */

 .antcy-testimonial-section .container {
    background-color: var(--container-bg-color);
    border-radius: 4px;
 }
 .antcy-testimonial-section .antcy-testimonial-left {
   position: relative;
   padding-left: 40px;
 }
 .antcy-testimonial-section .antcy-testimonial-left .antcy-testimonial-pattern {
   position: absolute;
   top: -63px;
   left: -79px;
   z-index: -1;
 }
 .antcy-testimonial-section .antcy-testimonial-left .antcy-testimonial-heading h2 {
    width: 394px;
    color: var(--white-color);
    font-size: 48px;
    font-family: lora-500;
    line-height: 61px;
    padding-top: 72px;
 }
 .antcy-testimonial-section .antcy-testimonial-left .antcy-testimonial-paragraph {
    width: 394px;
    padding-bottom: 60px;
 }
 .antcy-testimonial-section .antcy-testimonial-left .antcy-testimonial-divider {
    width: 1px;
    height: 275px;
    background-color: #797983;
    position: absolute;
    left: 95%;
    top: 50px;
 }

 .antcy-testimonial-section .antcy-testimonial-right {
    padding: 0px 40px;
 }

 .antcy-testimonial-section .antcy-testimonial-right .antcy-testimonial-person-position .testimonial-person {
   width: 72px;
   height: 72px;
   margin-top: -10px;
 }
 .antcy-testimonial-section .antcy-testimonial-right .antcy-testimonial-person-position .antcy-testimonial-position {
    margin-left: 24px;
    
 }
 .antcy-testimonial-section .antcy-testimonial-right .antcy-testimonial-person-position .antcy-testimonial-position .testimonal-name {
    color: var(--white-color);
    font-size: 32px;
    font-family: inter-500;
    
 }
 .antcy-testimonial-section .antcy-testimonial-right .antcy-testimonial-person-position .antcy-testimonial-position .testimonial-title {
    color: var(--text-color);
    font-size: 18px;
    font-family: inter-400;
    
 }
 .antcy-testimonial-section .antcy-testimonial-right .person-opinion p {
    color: var(--white-color);
    font-size: 18px;
    font-family: inter-400;
    line-height: 21.78px;
    margin-top: 16px;
    text-align: justify;
    
 }
 .antcy-testimonial-section .antcy-testimonial-right .antcy-testimonial-dot-arrow .testionial-dot .dot-1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--pink-color);
    
 }
 .antcy-testimonial-section .antcy-testimonial-right .antcy-testimonial-dot-arrow .testionial-dot .dot-2, .dot-3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
   border: 1px solid #797983;
   margin-left: 5px;
    
 }
 .antcy-testimonial-section .antcy-testimonial-right .antcy-testimonial-dot-arrow .testimonial-arrow {
    width: 72px;
    
 }




 /* ==============================
 Creative agency Blog 
 ================================ */

.antcy-blog-section .container {
    position: relative;
}
.antcy-blog-section .antcy-blog-heading h2 {
    
  color: var(--white-color);
  font-size: 48px;
  font-family: lora-500;
  line-height: 61px;
  

}
.antcy-blog-section .antcy-blog-pattern {
  position: absolute;
  bottom: -49px;
  right: -62px;
}
.antcy-blog-section .card-group .card {
  margin-right: 24px;
 }
.antcy-blog-section .card-group .card .card-body .card-heading {
    color: var(--white-color);
    font-size: 24px;
    font-family: inter-600;
    line-height: 29px;
    padding-top: 24px;
}
.antcy-blog-section .card-group .card .card-body .card-paragraph {
    width: 365px;
    margin-bottom: 32px;

 }
.antcy-blog-section .card-group .card  .antcy-blog-card-row {
    border-bottom: 1px solid var(--container-bg-color);
 }
.antcy-blog-section .card-group .card .antcy-blog-card-row .blog-row-title-paragraph .blog-row-title {
    color: var(--white-color);
    font-size: 16px;
    font-family: poppins-600;
    line-height: 24px;
}
.antcy-blog-section .card-group .card .antcy-blog-card-row .blog-row-title-paragraph .blog-row-paragraph {
    width: 225px;
    color: var(--text-color);
    font-size: 12px;
    font-family: inter-400;
    line-height: 24px;
}
.antcy-blog-section .card-group .card .antcy-blog-card-row .blog-row-img img {
    width: 119px;
    height: 103px;
    margin-left: 20px;
}


/* ==============================
 Creative agency pricing
 ================================ */

 .antcy-pricing-section .antcy-pricing-content .antcy-pricing-heading h2{
    color: var(--white-color);
    font-size: 48px;
    font-family: lora-500;
    line-height: 61px;
    width: 364px;

 }
 .antcy-pricing-section .antcy-pricing-content .antcy-pricing-paragraph {
    width: 364px;

 }
 .antcy-pricing-section .antcy-pricin-card {
    margin-left: 110px;
    background-color: var(--container-bg-color);
    padding: 40px;
    border-radius: 8px;
    margin-right: 12px;

 }
 .antcy-pricing-section .antcy-pricin-card .pricing-title {
    color: var(--orange-color);
    font-size: 22px;
    font-family: inter-600;
    margin-bottom: 16px;
}
 .antcy-pricing-section .antcy-pricin-card .price-duration .pricing-price {
    color: var(--white-color);
    font-size: 22px;
    font-family: inter-600;
    margin-right: 10px;
}
 .antcy-pricing-section .antcy-pricin-card .price-duration .pricing-month {
    color: var(--text-color);
    font-size: 20px;
    font-family: inter-600;
}
 .antcy-pricing-section .antcy-pricin-card .pricing-feature .pricing-feature-icon {
    width: 24px;
    height: 24px;

 }
 .antcy-pricing-section .antcy-pricin-card .pricing-feature .pricing-feature-text {
    color: var(--white-color);
    font-size: 18px;
    font-family: inter-400;
    line-height: 24px;
    padding-left: 10px;
    

 }
 .antcy-pricing-section .antcy-pricin-card .pricing-btn {
   color: var(--white-color);
   background-color: var(--pink-color);
   font-size: 20px;
   font-family: inter-500;
   padding: 16px 20px;
   width: 230px;
   border: none;
   border-radius: 4px;
   gap: 8px;
   margin-top: 40px;

 }

 .antcy-pricing-section .antcy-pricin-card-transparent-bg{
    background-color: transparent;
    padding: 40px;
    border: 1px solid #333444;
    border-radius: 8px;
    margin-left: 12px;
}
.antcy-pricing-section .antcy-pricin-card-transparent-bg .pricing-title {
    color: var(--white-color);
    font-size: 22px;
    font-family: inter-600;
    margin-bottom: 16px;
}
.antcy-pricing-section .antcy-pricin-card-transparent-bg .price-duration-transparent-bg .pricing-price-transparent-bg {
    color: var(--white-color);
    font-size: 22px;
    font-family: inter-600;
    margin-right: 10px;
}
.antcy-pricing-section .antcy-pricin-card-transparent-bg .price-duration-transparent-bg .pricing-month-transparent-bg {
    color: var(--text-color);
    font-size: 20px;
    font-family: inter-600;
}
.antcy-pricing-section .antcy-pricin-card-transparent-bg .pricing-feature-transparent-bg .pricing-feature-icon {
    width: 24px;
    height: 24px;
}
.antcy-pricing-section .antcy-pricin-card-transparent-bg .pricing-feature-transparent-bg .pricing-feature-text {
    color: var(--white-color);
    font-size: 18px;
    font-family: inter-400;
    line-height: 24px;
    padding-left: 10px;
}
.antcy-pricing-section .antcy-pricin-card-transparent-bg .pricing-transparent-bg-btn {
    color: var(--white-color);
    font-size: 20px;
    background-color: transparent;
    font-family: inter-500;
    padding: 16px 20px;
    width: 230px;
    border: 1px solid var(--white-color);
    border-radius: 4px;
    gap: 8px;
    margin-top: 75px;
}
    



/* ==============================
 Creative agency footer 
 ================================ */

 .antcy-footer-section {
    width: 100%;
    background-color: var(--container-bg-color);
 }
 .antcy-footer-section .antcy-footer-left .antcy-footer-heading h2 {
    color: var(--white-color);
    font-size: 48px;
    font-family: lora-500;
    line-height: 61px;
    padding-top: 40px;
 }

 .antcy-footer-section .antcy-footer-right {
    position: relative;
 }
 .antcy-footer-section .antcy-footer-right .footer-form-field {
    width: 455px;
    height: 72px;
    color: var(--text-color);
    font-size: 18px;
    font-family: inter-400;
    background-color: transparent;
    border: 1px solid var(--white-color);
    margin-top: 48px;
    
 }
 .antcy-footer-section .antcy-footer-right .footer-form-btn {
    position: absolute;
    right: -2px;
    top: 56px;
    
    
 }
 .antcy-footer-section .antcy-footer-logo-nav-icon .antcy-footer-nav li {
    padding: 0 20px;
}
 .antcy-footer-section .antcy-footer-logo-nav-icon .antcy-footer-nav .footer-nav-link {
    color: var(--white-color);
    font-size: 18px;
    font-family: inter-400;
}

 .antcy-footer-section .antcy-footer-logo-nav-icon .footer-social-icon .facebook, .twitter{
    margin-right: 24px;
}


/* ==============================
 Creative agency copyright footer 
 ================================ */

 .antcy-footer-copyright-section {
  width: 100%;
  background-color: var(--container-bg-color);
 }
 .antcy-footer-copyright-section .copyright-text {
  color: var(--text-color);
  font-size: 16px;
  font-family: inter-400;
 }





/* ==================================================================================== creative agency About us custom css start here start here 
=======================================================================================*/


/* ==============================
 Creative agency team 
 ================================ */

 .antcy-team-section .antcy-team-heading h2 {
    color: var(--white-color);
    font-size: 48px;
    font-family: lora-500;
    line-height: 61px;
}
.antcy-team-section .team-member-img{
    width: 260px;
}
.antcy-team-section .antcy-team-member{
    background-color: var(--container-bg-color);
    width: 260px;
    padding: 16px;
    margin-top: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.antcy-team-section .antcy-team-member:hover .team-member-biography .member-name{
    color: var(--pink-color);
    transition: linear 0.5s;
}
.antcy-team-section .antcy-team-member .team-member-biography .member-name {
    color: var(--white-color);
    font-size: 24px;
    font-family: inter-600;
    margin-bottom: 8px;
}
 .antcy-team-section .antcy-team-member .team-member-biography .member-position {
    color: var(--text-color);
    font-size: 18px;
    font-family: inter-400;
    
}
 .antcy-team-section .antcy-team-member .team-member-social-link .facebook {
    width: 20px;
    height: 20px;
    margin-bottom: 18px;
}
.antcy-team-section .antcy-team-member .team-member-social-link .instagram {
    width: 20px;
    height: 20px;
}



/* ==================================================================================== creative agency About us-2 custom css start here start here 
=======================================================================================*/


/* ==============================
 Creative agency owner 
 ================================ */

 .antcy-owner-section .antcy-owner-left-part .antcy-owner-img img {
   width: 573px;
   height: 627px;
   
 }
 .antcy-owner-section .antcy-owner-right-part {
   padding-left: 28px;
 }
 .antcy-owner-section .antcy-owner-right-part .owner-position{
   color: var(--text-color);
   font-size: 24px;
   font-family: inter-600;
   
 }
 .antcy-owner-section .antcy-owner-right-part .owner-name{
   color: var(--white-color);
   font-size: 48px;
   font-family: lora-500;
   line-height: 61px;
   
 }
 .antcy-owner-section .antcy-owner-right-part .owner-biography{
   
   width: 548px;
   
 }
 .antcy-owner-section .antcy-owner-right-part .owner-social-media{
   
   width: 140px;
   margin-top: 60px;
   
 }


 /* ==================================================================================== creative agency Project page custom css start here start here 
=======================================================================================*/


/* ==============================
 Creative agency project best work 
 ================================ */

 .project-best-work-section .project-best-work-heading h2 {
   width: 396px;
   color: var(--white-color);
   font-size: 48px;
   font-family: lora-500;
   line-height: 61px;

 }
 .project-best-work-section .project-best-work {
   margin-top: 48px;
   position: relative;

 }
 .project-best-work-section .project-best-work .project-best-work-pattern {
   position: absolute;
   top: -67px;
   left: -57px;

 }
 .project-best-work-section .project-best-work-img img {
   width: 550px;
   position: relative;

 }
 .project-best-work-section .project-best-work #best-work-below-img {
   margin-top: 24px;

 }
 .project-best-work-section .project-best-work #best-work-below-img-2 {
   margin-top: -70px;

 }
 .project-best-work-section .project-best-work .card-body {
   width: 500px;
   height: 138px;
   position: absolute;
   background-color: var(--body-bg-color);
   bottom: 20px;
   left: 20px;
   border-radius: 4px;
   padding: 16px;

 }
 .project-best-work-section .project-best-work .card-body .card-title {
   color: var(--white-color);
   font-size: 24px;
   font-family: inter-600;
   line-height: 29px;

 }
 .project-best-work-section .project-best-work .card-body .view-project-btn a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-family: inter-500;
    line-height: 24px;
    margin-top: 12px;
 }
 .project-best-work-section .project-best-work .card-body .view-project-btn:hover a {
   cursor: pointer;
   color: var(--pink-color);
   transition: ease 0.5s;
 }
 .project-best-work-section .project-best-work .card-body .view-project-btn .btn-arrow {
  margin-top: 12px;
  margin-left: 10px;
 }


 /* ==================================================================================== creative agency Project_2 page custom css start here start here 
=======================================================================================*/


/* ==============================
 Creative agency project_2 banner
 ================================*/
 
 
 .antcy-project-two-banner .antcy-project-two-heading h1 {
   width: 863px;
   color: var(--white-color);
   font-size: 64px;
   font-family: lora-500;
   line-height: 81px;
   
 }

 .antcy-project-two-banner .antcy-project-two-banner-left-part {
   position: relative;
 }
 .antcy-project-two-banner .antcy-project-two-banner-left-part .antcy-project-two-banner-left-part-pattern {
   position: absolute;
   top: -66px;
   left: -66px;
   z-index: -1;
 }
 .antcy-project-two-banner .antcy-project-two-banner-left-part .antcy-project-two-banner-left-part-img img {
  width: 570px;
  height: 473px;
 }
 .antcy-project-two-banner .antcy-project-two-banner-right-part .antcy-project-two-banner-right-part-title {
  color: var(--white-color);
  font-size: 24px;
  font-family: inter-600;
 }
 .antcy-project-two-banner .antcy-project-two-banner-right-part .antcy-project-two-banner-right-part-paragraph {
  width: 549px;
  margin-bottom: 25px;
 }



 /* ====================================
 Creative agency project_2 About section
 ========================================*/

 .antcy-project-two-about-section .antcy-project-two-about-heading h2 {
   color: var(--white-color);
   font-size: 48px;
   font-family: lora-500;
   line-height: 61px;
 }
 .antcy-project-two-about-section .antcy-project-two-about-left-part .project-2-about-left-feature {
   width: 250px;
 }
 .antcy-project-two-about-section .antcy-project-two-about-left-part #client-feature {
   width: 270px;
 }
 .antcy-project-two-about-section .antcy-project-two-about-left-part .antcy-project-two-left-part-inside .antcy-project-two-left-part-inside-date, .antcy-project-two-left-part-inside-client, .antcy-project-two-left-part-inside-type, .antcy-project-two-left-part-inside-duration {
   color: var(--white-color);
   font-size: 24px;
   font-family: inter-600;
   line-height: 29px;
 }
 .antcy-project-two-about-section .antcy-project-two-about-right-part .antcy-project-two-about-right-part-content .details {
   color: var(--white-color);
   font-size: 24px;
   font-family: inter-600;
   line-height: 29px;
   
 }
 .antcy-project-two-about-section .antcy-project-two-about-right-part .antcy-project-two-about-right-part-content .description {
   width: 549px;
   
 }

 /* ====================================
 Creative agency project_2 visual design section
 ========================================*/

 .antcy-project-two-visual-section .antcy-project-two-visual-heading h2 {
   color: var(--white-color);
   font-size: 48px;
   font-family: lora-500;
   line-height: 61px;
 }
 .antcy-project-two-visual-section .antcy-project-two-visual-project-left-img .antcy-project-two-visual-project-right-img img{
   width: 570px;
   padding-right: 24px;
 }
 .antcy-project-two-visual-section .antcy-project-two-visual-project-full-img {
   width: 100%;
   height: 571px;
   margin-top: 24px;
 }



 
 /* ==================================================================================== creative agency Blog page custom css start here start here 
=======================================================================================*/


/* ==============================
 Creative agency Blog banner
 ================================*/

 .antcy-blog-page-banner-section .container {
  position: relative;
}
.antcy-blog-page-banner-section .antcy-blog-page-banner-pattern {
  position: absolute;
  top: 185px;
  left: -68px;
  z-index: -1;
}
 .antcy-blog-page-banner-section .antcy-blog-page-banner-heading h1 {
   color: var(--white-color);
   font-size: 64px;
   font-family: lora-500;
   line-height: 81px;
   
 }
 .antcy-blog-page-banner-section .antcy-blog-page-banner-paragraph {
   width: 529px;
   margin-left: 20px;
 }
 .antcy-blog-page-banner-section .card-group .card {
  margin-right: 12px;
padding-left: 12px;
  width: 374px;
 }
 .antcy-blog-page-banner-section .card-group .card .antcy-blog-page-card-img img {
  
  width: 354px;
 }
 
.antcy-blog-page-banner-section .card-group .card .card-body .card-heading {
   color: var(--white-color);
   font-size: 24px;
   font-family: inter-600;
   line-height: 29px;
   margin-top: 24px;
  
   
 }
 .antcy-blog-page-banner-section .card-group .card .card-body .card-heading:hover {
   color: var(--pink-color);
   cursor: pointer;
   transition: ease 0.5s;
   
 }
 .antcy-blog-page-banner-section .card-group .card .card-body .antcy-blog-page-banner-publisher {
   margin-top: 32px;
   width: 360px;
 }
 .antcy-blog-page-banner-section .card-group .card .card-body .antcy-blog-page-banner-publisher .blog-banner-publish-date {
   color: var(--orange-color);
   font-size: 16px;
   font-family: inter-400;
 }
 .antcy-blog-page-banner-section .card-group .card .card-body .antcy-blog-page-banner-publisher .blog-banner-publish-author {
   color: var(--white-color);
   font-size: 16px;
   font-family: inter-400;
   margin-top: 3px;
 }


 /* ========================================
 Creative agency Blog desing and art section
 ===========================================*/

 .antcy-blog-page-design-section .container {
   background-color: var(--container-bg-color);
   padding: 40px 100px 40px 40px;
   border-radius: 8px;
 }
 .antcy-blog-page-design-section .container .antcy-blog-page-design-heading h2{
   width: 1030px;
   color: var(--white-color);
   font-size: 48px;
   font-family: lora-500;
 }

 
 /* ========================================
 Creative agency Blog-2 section
 ===========================================*/
 .antcy-blog-page-blog-two .card-group .card {
  margin-right: 12px;
  margin-left: 12px;
 }
.antcy-blog-page-blog-two .card-group .card .antcy-blog-page-blog-two-card-img {
  width: 350px;
}
.antcy-blog-page-blog-two .card-group .card .card-body .card-heading {
  color: var(--white-color);
   font-size: 24px;
   font-family: inter-600;
   line-height: 29px;
   margin-top: 24px;
}
.antcy-blog-page-blog-two .card-group .card .card-body .card-heading:hover {
  color: var(--pink-color);
  cursor: pointer;
  transition: ease 0.5s;
   
}
.antcy-blog-page-blog-two .card-group .card .card-body .antcy-blog-page-blog-two-publisher {
  margin-top: 32px;
  width: 360px;
   
}
.antcy-blog-page-blog-two .card-group .card .card-body .antcy-blog-page-blog-two-publisher .blog-page-two-publish-date {
  color: var(--orange-color);
   font-size: 16px;
   font-family: inter-400;
   
   
}
.antcy-blog-page-blog-two .card-group .card .card-body .antcy-blog-page-blog-two-publisher .blog-page-two-publish-author {
  color: var(--white-color);
   font-size: 16px;
   font-family: inter-400;
   margin-top: 3px;
   
}


/* ==================================================================================== creative agency Blog-2 page custom css start here start here 
=======================================================================================*/


/* ==============================
 Creative agency Blog-2 banner
 ================================*/

 .antcy-blog-two-page-banner-section .antcy-blog-two-page-banner-heading h1 {
   width: 800px;
   color: var(--white-color);
   font-size: 64px;
   font-family: lora-500;
   line-height: 81px;
   margin-bottom: 16px;
 }
 .antcy-blog-two-page-banner-section .antcy-blog-two-page-banner-img img {
   width: 100%
 }
 

 /* ==============================
 Creative agency Blog-2 Design art section
 ================================*/

 .antcy-blog-two-page-design-section .antcy-blog-page-two-design-heading h2 {
   width: 1150px;
   color: var(--white-color);
   font-size: 48px;
   font-family: lora-500;
   line-height: 61px;
}
 .antcy-blog-two-page-design-section .antcy-blog-page-two-design-author {
  
  font-size: 24px;
  font-family: inter-500;
  margin-top: 24px;
}
 .antcy-blog-two-page-design-section .antcy-blog-page-two-design-left-part .antcy-blog-page-two-design-left-paragraph-one , .antcy-blog-page-two-design-left-paragraph-two p {
  
  width: 572px;
}
 .antcy-blog-two-page-design-section .antcy-blog-two-page-design-right-part .antcy-blog-two-page-design-right-img img{
  width: 520px;
  height: 600px;
  margin-left: 30px;
  
}
 .antcy-blog-two-page-design-section .antcy-blog-page-two-design-tag-social .antcy-blog-page-two-design-tag .text-tag {
  color: var(--white-color);
  font-size: 24px;
  font-family: inter-500;
}
 .antcy-blog-two-page-design-section .antcy-blog-page-two-design-tag-social .antcy-blog-page-two-design-tag .tag-item-text {
  color: var(--text-color);
  font-size: 24px;
  font-family: inter-500;
  margin-top: 10px;
  margin-left: 10px;
}
.antcy-blog-two-page-design-section .antcy-blog-page-two-design-tag-social .antcy-blog-page-two-design-social {
  width: 202px;
}
.antcy-blog-two-page-design-section .antcy-blog-page-two-design-tag-social .antcy-blog-page-two-design-social .share-text {
  color: var(--white-color);
  font-size: 24px;
  font-family: inter-500;
}



/* ==================================================================================== creative agency Contact page custom css start here 
=======================================================================================*/


 /* ==============================
 Creative agency Contact section
 ================================*/

 
 .antcy-contact-section .antcy-contct-left-part .antcy-contact-heading h1 {
   width: 398px;
   color: var(--white-color);
   font-size: 64px;
   font-family: lora-500;
   line-height: 81px;
   margin-bottom: 16px;
 }
 .antcy-contact-section .antcy-contct-left-part .antcy-contact-paragraph {
   width: 398px;
   margin-bottom: 40px;
 }
 .antcy-contact-section .antcy-contct-left-part .antcy-contact-info-title h5 {
   color: var(--white-color);
   font-size: 24px;
   font-family: inter-600;
   line-height: 29px;
   margin-bottom: 16px;
 }
 .antcy-contact-section .antcy-contct-left-part .antcy-contact-info-email {
   margin-bottom: 10px;
 }
 .antcy-contact-section .antcy-contct-left-part .antcy-contact-info-email .email {
   width: 24px;
   height: 24px;
   
 }
 .antcy-contact-section .antcy-contct-left-part .antcy-contact-info-email .email-address {
   color: var(--text-color);
   font-size: 18px;
   font-family: inter-400;
   margin-left: 10px;
   
 }
 .antcy-contact-section .antcy-contct-left-part .antcy-contact-info-call .call {
   width: 24px;
   height: 24px;
   
 }
 .antcy-contact-section .antcy-contct-left-part .antcy-contact-info-call .call-address {
   color: var(--text-color);
   font-size: 18px;
   font-family: inter-400;
   margin-left: 10px;
   
 }
 .antcy-contact-section .antcy-contct-left-part .contact-social-media {
   color: var(--white-color);
   font-size: 24px;
   font-family: inter-600;
   line-height: 29px;
   margin-top: 40px;

 }
 .antcy-contact-section .antcy-contact-rigth-part form label {
   color: var(--white-color);
   font-size: 20px;
   font-family: inter-500;
   line-height: 29px;
   margin-bottom: 10px;

 }
 .antcy-contact-section .antcy-contact-rigth-part form input {
   
   height: 50px;
   border-radius: 4px;
   margin-bottom: 24px;
   border: 1px solid var(--text-color);
   color: var(--text-color);
   font-size: 18px;

 }
  .antcy-contact-section .antcy-contact-rigth-part form textarea {
   border-radius: 4px;
   margin-bottom: 24px;
   border: 1px solid var(--text-color);
   color: var(--text-color);
   font-size: 18px;

 }
 .antcy-contact-section .antcy-contact-rigth-part form .submit-btn {
   width: 156px;
   margin-left: 16px;

 }
 .antcy-contact-section .antcy-contact-rigth-part .antcy-contact-budget .budget-text h5 {
   color: var(--white-color);
   font-size: 20px;
   font-family: inter-500;
   line-height: 29px;
   margin-bottom: 10px;
   margin-left: 16px;

 }
 .antcy-contact-section .antcy-contact-rigth-part .antcy-contact-budget .form-btn-group {
  margin-left: 16px;
 }
 
 .antcy-contact-section .antcy-contact-rigth-part .antcy-contact-budget .form-btn-group .form-btn {
   color: var(--text-color);
   background-color: transparent;
   font-size: 18px;
   font-family: inter-400;
   padding: 11px;
   border: 1px solid var(--text-color);
   border-radius: 10px;
   margin-right: 24px;

 }





