

.lighttheme {
  background-color: white;
  color: black;
}
.darktheme {
  background-color: black;
  color: white;
}
.redtheme {
  background-color: red;
  color: white;
}


.lighttheme  a {
  color: black;
}
.darktheme  a {
  color: white;
}
.redtheme a {
  color : white,
}