/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: lora-500;
  src: url(../src/fonts/lora/Lora-Medium.ttf);
}
@font-face {
  font-family: inter-600;
  src: url(../src/fonts/inter/Inter-SemiBold.ttf);
}
@font-face {
  font-family: inter-500;
  src: url(../src/fonts/inter/Inter-Medium.ttf);
}
@font-face {
  font-family: inter-400;
  src: url(../src/fonts/inter/Inter-Regular.ttf);
}
@font-face {
  font-family: poppins-600;
  src: url(../src/fonts/poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-400;
  src: url(../src/fonts/poppins/Poppins-Regular.ttf);
}
